.discount-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  /* margin: 0 auto; */
  margin-bottom: 30rem;
  width: 82%;
  transform: translateY(30px);
  animation: scroll-animation 5s linear infinite;
  margin-left: 7em;
  margin-top: 3%;
}

.card-image-left {
  margin-top: 50%;
}

.card-image-left,
.card-image-right {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.card-image-left img,
.card-image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  filter: brightness(0.6);
}

.card-image-left:hover img,
.card-image-right:hover img {
  transform: scale(1.05);
  filter: brightness(0.9);
}

.animated-image-left,
.animated-image-right {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
}

.animated-image-left.visible,
.animated-image-right.visible {
  opacity: 1;
  transform: translateY(0);
}

.discount-details {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 62%;
  position: absolute;
  top: 78%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.discount-details h3 {
  color: #333;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.discount-details h3 span {
  color: #c89e72;
  font-weight: 600;
}

.discount-details .description {
  font-size: 22.8px;
  font-weight: 400;
  margin-bottom: 35px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #b28e6a;
}

@media (max-width: 1024px) {
  .discount-section {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
    margin-top: 0px;
  }

  .card-image-left {
    margin-top: 0px;
  }

  .card-image-left img,
  .card-image-right img {
    margin-block: 0px;
  }

  .title {
    font-size: 16px;
  }

  .discount-details {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 79%;
    height: auto;
    top: 150%;
    left: 50%;
  }

  .discount-details h3 {
    font-size: 32px;
  }

  .discount-details .description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .discount-section {
    gap: 5px;
    margin-bottom: 40rem;
  }

  .card-image-left,
  .card-image-right {
    width: 100%;
    padding-bottom: 0px;
    height: 16rem;
    margin-right: 0px;
  }

  .discount-details {
    width: 50%;
    top: 130%;
    left: 44%;
    margin-top: 0rem;
  }
}

@media (max-width: 552px) {
  .discount-section {
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50rem;
  }

  .card-image-left,
  .card-image-right {
    width: 550px;
  }

  .discount-details {
    width: 80%;
    top: 155%;
    left: 46%;
    margin-top: 1.6rem;
  }

  .title {
    font-size: 12px;
  }

  .discount-details h3 {
    font-size: 28px;
  }

  .discount-details .description {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .discount-section {
    margin-bottom: 55rem;
  }

  .discount-details {
    margin-left: 10px;
  }

  .discount-details h3 {
    line-height: 36px;
  }
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
