.latest-articles {
    padding-block: 6em;

    .main-title {
        text-align: center;

        h3 {
            
            font-size: 2.375rem;
            color: $secondary-color;
            margin-bottom: 0;
        }

        h2 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

    }


    .article {
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(94, 93, 93, 0.664);
        background-blend-mode: multiply;
        background-size: cover;
        border-radius: 10px;
    }

    .article-box {
        display: flex;
        padding: 2.25rem 2.5rem;
        justify-content: end;
        align-items: start;
        flex-direction: column;
        height: 26rem;
        color: $quaternary-color;

        .article-tag {
            color: $primary-color;
            background-color: $quaternary-color;
            padding: 0.4rem 1rem 0.2rem 1rem;
            border-radius: 20px;
            margin-right: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            transition: 0.3s;
        }

        .article-tag:hover {
            color: $text-hover-color;
            cursor: pointer;
        }

        h4 {
            font-family: "DM sans", sans-serif;
            font-size: 1.9rem;
            margin-top: 0.3rem;
            color: $quaternary-color;
        }

        .article-title {
            h3 {
                font-size: 2.5rem;
                color: $quaternary-color;
                margin-top: 0.5rem;
            }
        }
    }

}