.blog-content {
  .blog-details {
    margin-bottom: 2.5rem;
  }

  h4,
  h6 {
    font-size: 3.2rem;
  }

  & .blog-card {
    margin-bottom: 6.4rem;
  }

  & .blog-title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  & .post-title {
    font-size: 2.4rem;

    & a {
      color: $primary-black;
      transition: color 0.2s ease-out;
      &:hover {
        color: $secondary-color;
      }
    }
  }

  .author-details {
    background-color: $tertiary-color;
    border-left: 2px solid $secondary-color;
    padding: 1rem 1.25rem;
    margin-bottom: 1.8rem;

    .author-quote {
      font-size: 1.9rem;
      color: $secondary-gray;
    }

    .author-name {
      color: $secondary-color;
    }
  }

  .blog-summary {
    margin-bottom: 1.625rem;
  }

  .label {
    color: $primary-black;
    font-weight: 600;
  }

  .popular-tags {
    p {
      color: $tertiary-gray;
    }
  }

  .social-media-links {
    .social-link {
      font-size: 2rem;
      color: $secondary-color;
      text-decoration: none;
      background-color: $tertiary-color;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 100%;
      padding: 8px;
      margin-right: 0.5rem;
      transition: 0.3s;
    }

    .social-link:hover {
      background-color: $secondary-color;
      color: $quaternary-color;
    }
  }

  .global-experience-title {
    margin-top: 4.063rem;
    margin-bottom: 1.25rem;
  }

  .global-visit-images {
    .image-container {
      img {
        border-radius: 5px;
      }
    }
  }

  .global-experience-summary {
    margin-bottom: 1.25rem;
    margin-top: 1rem;
  }

  .key-points-list {
    list-style-type: disc;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }

  & .card-img {
    & .img {
      width: 100%;
      height: 40rem;
      border-radius: 0.8rem;
      overflow: hidden;
      filter: opacity(0.5);
      transition: 0.5s;

      &:hover {
        filter: opacity(1);
        transition: 0.5s;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .date {
      bottom: -2rem;
      right: 2rem;
      padding: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: #b28e6a;
      color: white;
      border: 2px solid white;
      font-weight: bold;
    }
  }

  & .blog-meta {
    a:first-child {
      &:link,
      &:visited {
        padding: 0.4rem 1rem;
        background-color: #534930;
        border-radius: 1rem;
        color: white !important;
        transition: background-color 0.5s ease-in-out;
      }

      &:hover {
        background-color: #b28e6a;
      }
    }

    & a {
      &:link,
      &:visited {
        text-decoration: none;
        color: #534930;
        transition: color 0.5s ease-in-out;
      }

      &:hover {
        color: #b28e6a;
      }
    }
  }
}
