.baner-header {
  margin-top: 2rem;

  .food-experinse {
    .hero {
      .hero-Heading {
        background-color: $text-secondary-color;
        color: white;
        padding-left: 12rem;

        .hero-Detalis {
          .sub-content {
            margin-top: 2.9rem;
            margin-left: 5px;
            font-size: 1rem;
            font-weight: bold;
          }

          p {
            font-family: "dm sans", sans-serif;
          }

          h1 {
            font-size: 3.1rem;
            font-family: "Syne", sans-serif;
            font-weight: bold;
          }

          .order-Now {
            a {
              color: white;
              margin-left: 1rem;
            }

            i {
              position: absolute;
              left: 4px;
              top: 3px;
              background-color: white;
              padding: 1rem;
              width: 3rem;
              color: $secondary-color;
              border-radius: 50%;
              margin: 0;
            }

            .primary-btn {
              position: relative;
              border-radius: 2rem;
              padding: 0.9rem;
              width: 12rem;
              outline: none;
              border: none;
              background-color: $secondary-color;
              font-size: 1.1rem;
              text-transform: capitalize;
            }
          }

          .arrowVector {
            width: 11rem;
            margin-left: 3rem;
          }
        }

        @media (max-width: 1200px) {
          & {
            font-size: 1rem;
            padding-left: 3rem;
            text-align: center;
            height: 38rem;
            width: 100%;
          }

          .hero-content {
            text-align: center;
            /* لتوسيط النص أيضًا */
          }

          .arrowVector {
            display: none;
          }
        }
      }

      .hero-baner {
        background: linear-gradient(to right, $text-secondary-color 50%, transparent 50%);


        img {
          width: 28rem;
          height: 28rem;
          animation: rotateDish 60s linear infinite;
        }

        @keyframes rotateDish {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        @media (max-width: 1200px) {
          & {
            transition: 1s ease-in-out all;
            background: transparent;
            position: absolute;
            top: 100%;
            /* يتحرك الطبق نحو الأسفل */
            left: 50%;
            transform: translate(-50%, -50%);

            /* لجعل الطبق في المنتصف تمامًا */
            img {
              width: 20rem;
              height: 20rem;
              animation: rotateDish 60s linear infinite;
            }
          }

          .hero-content {
            text-align: center;
            /* لتوسيط النص أيضًا */
          }
        }
      }
    }
  }

  .sochila {
    margin-top: 5rem;
    padding-left: 2rem;

    img {
      display: block;
      margin-bottom: 4rem;
    }

    @media (max-width: 992px) {
      & {
        display: none;
      }
    }
  }

  .dot-vector-one {
    position: absolute;
    top: 5rem;
    left: 6rem;
  }

  .dot-vector-two {
    position: absolute;
    bottom: 4rem;
    left: 10rem;
  }

  .dot-vector-three {
    position: absolute;
    bottom: 8rem;
    left: 32rem;
  }

  .dot-vector-four {
    position: absolute;
    bottom: 24rem;
    left: 32rem;
  }

  @media (max-width: 992px) {
    & {

      .dot-vector-one,
      .dot-vector-two,
      .dot-vector-three,
      .dot-vector-four {
        display: none;
      }
    }
  }



}

.Features-Section {
  position: relative;
  width: 100%;
  display: flex;
  background-color: $bg-color;
  border-radius: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  margin-top: 7rem;

  .Feature {
    display: flex;
    padding: 1rem;
    align-items: center;

    .icon {
      img {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
      }
    }

    .content {
      h3 {
        margin-block: 0.5rem;
      }

      span {
        width: min(100%, 1rem);
      }
    }

    .line {
      border-right: 2px solid $secondary-color;
      height: 4rem;
    }
  }

  .WatermarkFood {
    position: absolute;
    bottom: 50%;
    /* اضبط حسب المكان اللي تريده */
    left: 50%;
    /* اضبط حسب المكان اللي تريده */
    transform: translate(-50%, 50%);
    /* لتوسيط العلامة المائية بدقة */
    opacity: 0.2;
    /* تخفيف العلامة المائية */
    z-index: -1;
    /* خلف المحتوى */
    width: fit-content;

    img {
      width: 6rem;
      height: 6rem;
    }
  }

}

.baners-Section {
  position: relative;
  margin-top: 10rem;

  .FirstBaner,
  .secondBaner {
    padding: 0;
  }

  .FirstBaner,
  .secondBaner {
    .baner-content {
      padding: 4.2rem;
      background-color: $bg-color;
    }

    .baner-info {
      font-weight: bold;
    }
  }

  .WatermarkFood {
    position: absolute;
    top: -9rem;
    left: 40%;
    width: fit-content;

    img {
      width: 8rem;
      height: 8rem;
    }
  }
}

.portfolio-section {
  padding-block: 46px;

  .main-title-two {
    margin-bottom: 50px;
    text-align: center;

    @media (max-width: 1199.98px) {
      margin-bottom: 50px;
      text-align: center;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }

    h3 {
      text-align: center;
      color: $secondary-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 29.4px;
      text-transform: capitalize;
      margin: 0 0 10px 0;
      font-family: $primary-font;

      @media (max-width: 991.98px) {
        font-size: 20px;
        line-height: 24.4px;
      }

      @media (max-width: 767.98px) {
        font-size: 18px;
        line-height: 22.4px;
      }
    }

    img {
      position: absolute;
      top: 29px;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 55.8px;
      text-align: center;
      text-transform: capitalize;

      @media (max-width: 767.98px) {
        font-size: 28px;
        line-height: 31px;
      }

      @media (max-width: 767.98px) {
        font-size: 28px;
        line-height: 44px;
      }

      @media (max-width: 991.98px) {
        font-size: 34px;
        line-height: 42.8px;
      }

      @media (max-width: 1199.98px) {
        font-size: 38px;
        line-height: 46.8px;
      }
    }
  }
}