.home {
  .portfolio-section {
    padding-block: 96px 64px;

    & .main-title-two {
      margin-bottom: 10px;
      text-align: center;

      @media (max-width: 1199.98px) {
        text-align: center;
      }

      img {
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  }

  & .table-reservation {
    padding-block: 10rem;
    text-align: center;

    & .plate-icon {
      position: absolute;
      top: 12rem;
      left: 3rem;
      width: 100px;
      z-index: 999;
    }

    & .order {
      background: linear-gradient(
        to bottom left,
        $secondary-color,
        $primary-color
      );
      background-image: url('/images/home/composition-traditional-indonesian-bakso.png');
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: grey;
      background-repeat: no-repeat;
      border-radius: 5px;
      padding: 6rem 1rem;
      color: #ffffff;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: rgba(128, 128, 128, 0.7);
        background-blend-mode: multiply;
      }

      & h3,
      & h6 {
        color: #000000;
        font-weight: 500 !important;
        color: #ffffff;
      }

      & h6 {
        font-size: 18px;
      }

      & h3 {
        font-size: 4.5rem;
        margin-bottom: 1.8rem;
      }

      & p {
        padding-inline: 15rem;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;

        @media (max-width: 900px) {
          padding-inline: 7rem;
        }

        @media (max-width: 500px) {
          padding-inline: 3rem;
        }
      }
    }
  }

  & .baner-header {
    .food-experinse {
      .hero {
        .hero-Heading {
          background-color: $text-secondary-color;
          color: white;
          padding-left: 19.2rem;

          .hero-Detalis {
            position: relative;

            .sub-content {
              margin-top: 4.64rem;
              margin-left: 5px;
              font-size: $default-font-size;
              font-weight: 500;
            }

            h1 {
              font-size: 4.96rem;
              font-weight: 400;

              @media (max-width: 410px) {
                & {
                  font-size: 4rem;
                  margin-bottom: 1.6rem;
                }
              }
            }

            .order-Now {
              a {
                color: white;
                margin-left: 1.6rem;

                @media screen and (max-width: 49em) {
                  & img {
                    width: 7rem;
                    height: 8rem;
                  }
                }
              }

              i {
                position: absolute;
                left: 4px;
                top: 3px;
                background-color: white;
                padding: 1.6rem;
                width: 4.8rem;
                color: $secondary-color;
                border-radius: 50%;
                margin: 0;
              }

              .primary-btn {
                position: relative;
                border-radius: 3.2rem;
                padding: 1.4rem;
                width: 19.2rem;
                outline: none;
                border: none;
                background-color: $secondary-color;
                font-size: 1.76rem;
                text-transform: capitalize;
              }
            }

            .arrowVector {
              width: 17.6rem;
              position: absolute;
              right: 0;
              bottom: 0.6rem;
            }
          }

          @media (max-width: 1200px) {
            & {
              font-size: $default-font-size;
              padding-inline: 2.8rem;
              text-align: center;
              height: 60.8rem;
              width: 100%;
            }

            .hero-content {
              text-align: center;
              /* لتوسيط النص أيضًا */
            }

            .arrowVector {
              display: none;
            }
          }
        }

        .hero-baner {
          background: linear-gradient(
            to right,
            $text-secondary-color 50%,
            transparent 50%
          );

          img {
            width: 44.8rem;
            height: 44.8rem;
            animation: rotateDish 60s linear infinite;
          }

          @keyframes rotateDish {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }

          @media (max-width: 1200px) {
            & {
              transition: 1s ease-in-out all;
              background: transparent;
              position: absolute;
              top: 100%;
              /* يتحرك الطبق نحو الأسفل */
              left: 50%;
              transform: translate(-50%, -50%);

              /* لجعل الطبق في المنتصف تمامًا */
              img {
                width: 25rem;
                height: 25rem;
                animation: rotateDish 60s linear infinite;
                margin-top: 1rem;
              }
            }

            .hero-content {
              text-align: center;
              /* لتوسيط النص أيضًا */
            }
          }
        }
      }
    }

    .sochila {
      margin-top: 8rem;
      padding-left: 3.8rem;

      & img {
        display: block;
        margin-bottom: 6.4rem;
      }

      @media (max-width: 992px) {
        & {
          display: none;
        }
      }
    }

    .dot-vector-one {
      position: absolute;
      top: 8rem;
      left: 9.6rem;
    }

    .dot-vector-two {
      position: absolute;
      bottom: 6.4rem;
      left: 16rem;
    }

    .dot-vector-three {
      position: absolute;
      bottom: 12.8rem;
      left: 51.2rem;
    }

    .dot-vector-four {
      position: absolute;
      bottom: 38.4rem;
      left: 51.2rem;
    }

    @media (max-width: 992px) {
      & {
        .dot-vector-one,
        .dot-vector-two,
        .dot-vector-three,
        .dot-vector-four {
          display: none;
        }
      }
    }
  }

  .features-Section {
    font-size: $default-font-size;
    background-color: $bg-color;
    border-radius: 1.6rem;
    padding: 2.4rem 3.6rem;
    margin-top: 11.2rem;
    position: relative;

    @media (max-width: 992px) {
      margin-top: 19.2rem;
    }

    .feature {
      display: flex;
      padding: 1.6rem;
      align-items: center;
      position: relative;

      @media screen and (max-width: 64em) {
        flex-direction: column;
        text-align: center;
      }

      .icon {
        img {
          width: 6.4rem;
          height: 6.4rem;
          margin-right: 1.6rem;

          @media screen and (max-width: 64em) {
            margin-right: 0;
          }
        }
      }

      .content {
        padding-inline: 1rem;
        h5 {
          font-size: 2.2rem;
          font-weight: 500;
          margin-block: 0.8rem;
        }

        span {
          width: min(100%, 1.6rem);
        }
      }

      .line {
        border-right: 2px solid $secondary-color;
        height: 80%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .WatermarkFood {
      position: absolute;
      bottom: 50%;
      /* اضبط حسب المكان اللي تريده */
      left: 50%;
      /* اضبط حسب المكان اللي تريده */
      transform: translate(-50%, 50%);
      /* لتوسيط العلامة المائية بدقة */
      opacity: 0.2;
      /* تخفيف العلامة المائية */
      z-index: -1;
      /* خلف المحتوى */
      width: fit-content;

      img {
        width: 9.6rem;
        height: 9.6rem;
      }
    }
  }

  & .baners-Section {
    position: relative;
    margin-top: 16rem;

    & .baner-content {
      & .baner-one {
        overflow: hidden;
        &:first-child {
          border-top-left-radius: 1rem;
          @media screen and (max-width: 48em) {
            border-radius: 0 0 1rem 1rem;
          }
        }
        &:last-child {
          border-top-right-radius: 1rem;
          @media screen and (max-width: 48em) {
            border-radius: 1rem 1rem 0 0;
          }
        }
      }
      & .baner-two {
        overflow: hidden;
        &:first-child {
          border-bottom-left-radius: 1rem;
          @media screen and (max-width: 48em) {
            border-radius: 1rem 1rem 0 0;
          }
        }
        &:last-child {
          border-bottom-right-radius: 1rem;
          @media screen and (max-width: 48em) {
            border-radius: 0 0 1rem 1rem;
          }
        }
      }
    }

    & .baner-item {
      height: 100%;

      &.baner-text {
        padding: 6rem 3.6rem;
        color: $primary-black;

        @media screen and (max-width: 30em) {
          padding: 3.6rem 1.8rem;
        }

        & .baner-title {
          font-size: 2.8rem;
          font-weight: 600;
        }

        & .baner-description {
          font-weight: 400;
        }

        & .baner-info {
          &:link,
          &:visited {
            color: inherit;
            font-size: $default-font-size;
            font-weight: 600;
            transition: color 0.3s ease-in-out;
          }
          &:hover {
            color: $secondary-color;
          }
        }
      }

      &.baner-img {
        background: linear-gradient(
          to bottom,
          rgba($primary-black, 0.8),
          rgba($primary-black, 0.8),
          $primary-color
        );
      }
    }

    & .WatermarkFood {
      position: absolute;
      top: -14.4rem;
      left: 40%;
      width: fit-content;

      & img {
        width: 12.8rem;
        height: 12.8rem;
      }
    }
  }
}
