.services {
  & .discount-section {
    padding-bottom: 30rem;
    padding-top: 6.4rem;
    transform: translateY(30px);
    animation: scroll-animation 5s linear infinite;

    @media screen and (max-width: 450px) {
      & .row {
        flex-direction: column;

        & > div {
          width: 100%;
        }
      }
    }

    & .card-image-left,
    & .card-image-right {
      height: 100%;
      overflow: hidden;
      position: relative;

      @media screen and (max-width: 1024px) {
        height: 40rem;
      }

      @media screen and (max-width: 450px) {
        width: 100%;
        height: 20rem;
      }

      & img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        filter: brightness(0.6);
      }

      &:hover {
        img {
          transform: scale(1.05);
          filter: brightness(0.9);
        }
      }
    }

    & .card-image-left {
      margin-top: 18rem;
      @media screen and (max-width: 450px) {
        margin-top: 0;
      }
    }

    & .animated-image-left,
    & .animated-image-right {
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.8s ease-in-out;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }

    & .discount-details {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 35px;
      box-shadow: 0 4px 6px rgba($primary-black, 0.1);
      width: 62%;
      height: auto;
      position: absolute;
      top: 78%;
      right: 1.6rem;
      transform: translateY(-50%);

      @media screen and (max-width: 1024px) {
        width: 80%;
        top: 55rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (max-width: 450px) {
        top: 45rem;
      }

      & h3 {
        color: $color-grey-dark;
        text-align: left;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 2rem;

        @media screen and (max-width: 1024px) {
          font-size: 32px;
        }

        @media screen and (max-width: 552px) {
          font-size: 28px;
        }

        & span {
          color: $secondary-color;
          font-weight: 600;
        }
      }

      & .description {
        font-size: 22.8px;
        font-weight: 400;
        margin-bottom: 35px;

        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }

        @media screen and (max-width: 552px) {
          font-size: 14px;
        }
      }
    }

    & .title {
      font-size: 20px;
      font-weight: 600;
      color: $secondary-color;

      @media (max-width: 1024px) {
        font-size: 16px;
      }

      @media (max-width: 552px) {
        font-size: 12px;
      }
    }
  }
}
