section.blog-bg {
  background-color: #faf4ed;
  font-family: 'Syne', sans-serif;
  margin-bottom: 6rem;
}
section div.blog {
  text-align: center;
  padding: 6rem;
  color: #534930;
}
section div.blog button {
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #b28e6a;
  color: white;
}
section div.blog button a {
  color: white;
}
section div.blog button a:hover {
  color: black;
  transition: 0.5s;
}
section.blog-content .blog-card .card-img .img {
  width: 100%;
  height: 40rem;
  border-radius: 0.8rem;
  overflow: hidden;
  filter: opacity(0.5);
  transition: 0.5s;
}
section.blog-content .blog-card .card-img .img:hover {
  filter: opacity(1);
  transition: 0.5s;
}
section.blog-content .blog-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.blog-content .blog-card .card-img .date {
  bottom: -2rem;
  right: 2rem;
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #b28e6a;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}
section.blog-content .blog-card .blog-meta a:first-child {
  padding: 0.4rem 1rem;
  border: none;
  background-color: #534930;
  border-radius: 1rem;
  color: white !important;
  transition: 0.5s;
}
section.blog-content .blog-card .blog-meta a:first-child:hover {
  background-color: #b28e6a;
  transition: 0.5s;
}
section.blog-content .blog-card .blog-meta a {
  text-decoration: none;
  color: #534930;
  transition: 0.5s;
}
section.blog-content .blog-card .blog-meta a:hover {
  color: #b28e6a;
  transition: 0.5s;
}
section.blog-content .blog-card .card-body h4 {
  cursor: pointer;
  transition: 0.5s;
}
section.blog-content .blog-card .card-body h4:hover {
  color: #b28e6a;
  transition: 0.5s;
}
.search-form .search-title h5::before,
.categories .category-title h5::before,
.product-tag .product-title h5::before,
.contact-info .contact-title h5::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 57px;
  height: 3px;
  background-color: #b28e6a;
}
.search-form form input {
  outline: none;
}
.categories .category-item .category-item-title a {
  color: black;
}
.categories .category-item:hover a,
.categories .category-item:hover .category-number {
  color: #b28e6a;
  transition: 0.5s;
}
.posts .post-img {
  width: 13rem;
  height: 6rem;
  /* background-image: url("../images/blog-thumbnail-1.png"); */
  background-size: cover;
  border-radius: 0.8rem;
}
.posts .post-details a {
  color: black;
  transition: 0.5s;
}
.posts .post-details a:hover {
  color: #b28e6a;
  transition: 0.5s;
}
.product-tag .buttons button,
.product-tag .buttons button a {
  background-color: transparent;
  color: black;
  transition: 0.5s;
}
.product-tag .buttons button:hover,
.product-tag .buttons button:hover a {
  color: white;
  background-color: #534930;
  transition: 0.5s;
}
.contact-info .contact-details a {
  color: #a3a3a3;
  transition: 0.5s;
}
.contact-info .contact-details a:hover {
  color: #b28e6a;
  transition: 0.5s;
}
