@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: vertical;
}

.container {
  max-width: 130rem;
  margin-inline: auto;
  padding: 0 2rem;
}

::-moz-selection {
  background-color: #534930;
  color: #f7f7f7;
}

::selection {
  background-color: #534930;
  color: #f7f7f7;
}

.heading__primary {
  font-size: 4.8rem;
  font-weight: 500;
  color: #534930;
}
@media screen and (max-width: 49em) {
  .heading__primary {
    font-size: 4.6rem;
  }
}

.heading__secondary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sub__heading {
  font-weight: 500;
  color: #a3a3a3;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.animate--right {
  transform: translateX(100px);
}

.animate--left {
  transform: translateX(-100px);
}

.animate--bottom {
  transform: translateY(100px);
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.btn {
  font-size: 2rem;
  background-color: #b28e6a;
  color: #f7f7f7 !important;
  padding: 0.6rem 2.6rem;
}
@media screen and (max-width: 49em) {
  .btn {
    font-size: 1.6rem;
  }
}
.btn:hover, .btn:active {
  background-color: #7d634a !important;
}
.btn--secondary {
  border: none;
  font-weight: 500;
  border-radius: 10rem;
  padding: 1.8rem 3.6rem 1.8rem 6.8rem;
  position: relative;
}
.btn--secondary-icon {
  width: 5.8rem;
  height: 5.8rem;
  background-color: #f7f7f7;
  color: #b28e6a;
  padding: 2rem;
  border-radius: 5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0.4rem, -50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.btn--secondary-text {
  position: relative;
  z-index: 999;
  transition: color 0.3s ease-in-out;
}
.btn--secondary:hover, .btn--secondary:active {
  color: #b28e6a;
}
.btn--secondary:hover .btn--secondary-icon, .btn--secondary:active .btn--secondary-icon {
  width: calc(100% - 0.8rem);
}
.btn--secondary:hover .btn--secondary-text, .btn--secondary:active .btn--secondary-text {
  color: #534930;
}

.cta {
  padding-block: 4.2rem;
}
@media screen and (max-width: 62em) {
  .cta {
    padding-inline: 2.4rem;
  }
}
.cta__form {
  padding: 3.6rem 2.4rem;
  background-color: #f7f7f7;
}
.cta__title {
  font-size: 2.8rem;
  font-weight: 500;
}
.cta__text {
  color: #a3a3a3;
}
.cta__input {
  font-size: 1.6rem;
  padding: 1.8rem 4.2rem;
  border: none;
  border-radius: 0.4rem;
}
.cta__input:focus {
  outline-color: #534930;
}
.cta__input::-moz-placeholder {
  color: #a3a3a3;
}
.cta__input::placeholder {
  color: #a3a3a3;
}
.cta__photo-box {
  padding-left: 1.6rem;
}
@media screen and (max-width: 62em) {
  .cta__photo-box {
    height: 40rem;
    padding-inline: 0;
  }
}
.cta__photo {
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-container {
  padding: 0px;
  padding-right: 3em !important;
  margin: 0;
}
.logo-container img {
  max-width: 100%;
  height: auto;
}

.map {
  padding-top: 4.6rem;
}
.map__container {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 49em) {
  .map__container {
    height: 40rem;
  }
}
.map__container iframe {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.map__overlay {
  height: 100%;
  background-color: #534930;
}

.portfolio .portfolio-area li button {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  background-color: white;
  border: 1px solid #534930; /* Red border by default */
  color: #534930 !important;
  padding: 10px 20px; /* Adjust the padding to control the size */
  border-radius: 50px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.5s ease; /* Smooth transition for hover effect */
  margin: 5px;
}
.portfolio .portfolio-area li button.active, .portfolio .portfolio-area li button:hover {
  color: white !important;
  background-color: #534930 !important;
}
@media only screen and (max-width: 991.98px) {
  .portfolio .portfolio-area .portfolio-item {
    margin: 20px 0 0 0;
  }
}
@media only screen and (max-width: 1199.9px) {
  .portfolio .portfolio-area .portfolio-item {
    margin: 30px 0 0 0;
  }
}
@media only screen and (max-width: 1399.98px) {
  .portfolio .portfolio-area .portfolio-item {
    margin: 40px 0 0 0;
  }
}
@media only screen and (max-width: 1199.9px) {
  .portfolio .portfolio-area .portfolio-item {
    margin: 30px 0 0 0;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 30px 20px;
  transition: all 0.5s;
  max-width: 424px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two {
    padding: 0 15px 15px 15px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two {
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px 10px;
  }
}
@media (max-width: 991.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two {
    padding: 15px 10px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1399.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two {
    padding: 25px 15px;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two .offer-lable {
  position: absolute;
  top: 15px;
  right: -26px;
  transform: rotate(45deg);
  background-color: #fff;
  width: 115px;
  text-align: center;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .offer-lable span {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #534930;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .food-item {
  max-width: 116px;
  width: 116px;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .food-item img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .food-item img {
    max-width: 100px;
  }
}
@media (max-width: 767.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .food-item img {
    max-width: 115px;
  }
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .food-item img {
    max-width: 100px;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #b28e6a;
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}
@media (max-width: 991.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p {
    display: flex;
    justify-content: center;
  }
}
@media ((max-width: 767.98px)) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 5px 0;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p i {
  font-size: 12px;
  margin: 0 0 0 5px;
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .item-detail p i {
    font-size: 10px;
    margin: 0 0 1px 2px;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 29.4px;
  color: #000000;
  margin: 0 0 5px 0;
  transition: all 0.5s;
  font-family: "Syne", sans-serif;
}
@media (max-width: 1199.98px) {
  .portfolio .portfolio-area .portfolio-item .item-box-two .item-detail h3 {
    font-size: 16px;
  }
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 32.2px;
  color: #534930;
  transition: all 0.5s;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail .plus-bg {
  background-color: #b28e6a;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail .plus-bg a {
  color: #faf4ed;
  transition: all 0.2s;
  text-decoration: none;
}
.portfolio .portfolio-area .portfolio-item .item-box-two .item-detail .plus-bg a i {
  color: #fff;
  font-size: 12px;
  transition: all 0.5s;
}
.portfolio .portfolio-area .portfolio-item .item-box-two:hover {
  color: #fff;
  background-color: #534930;
}
.portfolio .portfolio-area .portfolio-item .item-box-two:hover .item-detail h3,
.portfolio .portfolio-area .portfolio-item .item-box-two:hover .item-detail h4 {
  color: #fff !important;
}
.portfolio .portfolio-area .portfolio-item .item-box-two:hover .item-detail .plus-bg {
  background-color: white !important;
}
.portfolio .portfolio-area .portfolio-item .item-box-two:hover .item-detail .plus-bg a {
  color: #faf4ed;
  transition: all 0.2s;
  text-decoration: none;
}
.portfolio .portfolio-area .portfolio-item .item-box-two:hover .item-detail .plus-bg a .icon-plus {
  color: #000;
  font-size: 12px;
  transition: all 0.5s;
}

.service {
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 3.6rem 3rem;
}
.service__title {
  font-size: 2rem;
  color: #b28e6a;
}
.service__text {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 1.6rem;
}
.service__link:link, .service__link:visited {
  color: #a3a3a3;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__link-text {
  margin-right: 0.6rem;
  transition: margin 0.3s ease-in-out;
}
.service__link:hover .service__link-text {
  margin-right: 1.2rem;
}

.social__list {
  margin-top: 2.4rem;
  display: flex;
  gap: 0.8rem;
}
.social__link:link, .social__link:visited {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #b28e6a;
  border-radius: 50%;
  color: #f7f7f7;
  padding: 1.6rem;
  transition: all 0.3s ease;
}
.social__link:hover, .social__link:active {
  background-color: #534930;
}
.social--header.social__list {
  gap: 0;
}
.social--header .social__link {
  color: #b28e6a;
  background-color: transparent;
}

.swiper {
  width: 100%;
  padding-block: 6.4rem !important;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-logo {
  height: 4rem;
  opacity: 0.6;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.swiper-logo:hover {
  opacity: 1;
  transform: scale(1.1);
}

.header .navbar {
  background-color: #faf4ed;
}
.header .navbar .container-fluid {
  max-width: 1590px;
}
.header .nav-link:link, .header .nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 2.5rem;
  color: #535353 !important;
}
.header .nav-link:link svg, .header .nav-link:visited svg {
  fill: #535353;
}
.header .nav-link:link:hover, .header .nav-link:link:active, .header .nav-link:visited:hover, .header .nav-link:visited:active {
  color: #b28e6a !important;
}
.header .nav-link:link:hover svg, .header .nav-link:link:active svg, .header .nav-link:visited:hover svg, .header .nav-link:visited:active svg {
  fill: #b28e6a;
}

.footer {
  background-color: #f7f7f7;
  padding-top: 6.4rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__link:link, .footer__link:visited {
  color: #000;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: #534930;
}
.footer__title {
  font-family: "Syne", sans-serif;
  font-size: 2.6rem;
  color: #534930;
  margin-bottom: 2.2rem;
}
.footer__title::before {
  content: "";
  background-color: #534930;
  width: 3rem;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__contact-items {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}
.footer__contact-items svg {
  width: 1.4rem;
  height: 1.2rem;
  font-size: 1.8rem;
  padding: 0.9rem;
  background-color: #b28e6a;
  border-radius: 50%;
  margin-right: 0.8rem;
  color: #f7f7f7;
  transition: all 0.3s ease;
}
.footer__contact-items:hover svg {
  background-color: #534930;
}
.footer__copyright {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem;
  border-top: 1px solid #b28e6a;
}

.portfolio-section {
  padding-block: 46px;
}
.portfolio-section .main-title-two {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .portfolio-section .main-title-two {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .portfolio-section .main-title-two {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-section .main-title-two {
    margin-bottom: 30px;
  }
}
.portfolio-section .main-title-two h3 {
  text-align: center;
  color: #b28e6a;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.4px;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 991.98px) {
  .portfolio-section .main-title-two h3 {
    font-size: 20px;
    line-height: 24.4px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-section .main-title-two h3 {
    font-size: 18px;
    line-height: 22.4px;
  }
}
.portfolio-section .main-title-two img {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.portfolio-section .main-title-two h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 55.8px;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .portfolio-section .main-title-two h2 {
    font-size: 28px;
    line-height: 31px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-section .main-title-two h2 {
    font-size: 28px;
    line-height: 44px;
  }
}
@media (max-width: 991.98px) {
  .portfolio-section .main-title-two h2 {
    font-size: 34px;
    line-height: 42.8px;
  }
}
@media (max-width: 1199.98px) {
  .portfolio-section .main-title-two h2 {
    font-size: 38px;
    line-height: 46.8px;
  }
}

.baner-header {
  margin-top: 2rem;
}
.baner-header .food-experinse .hero .hero-Heading {
  background-color: #534930;
  color: white;
  padding-left: 12rem;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis .sub-content {
  margin-top: 2.9rem;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis p {
  font-family: "dm sans", sans-serif;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis h1 {
  font-size: 3.1rem;
  font-family: "Syne", sans-serif;
  font-weight: bold;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis .order-Now a {
  color: white;
  margin-left: 1rem;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis .order-Now i {
  position: absolute;
  left: 4px;
  top: 3px;
  background-color: white;
  padding: 1rem;
  width: 3rem;
  color: #b28e6a;
  border-radius: 50%;
  margin: 0;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis .order-Now .primary-btn {
  position: relative;
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12rem;
  outline: none;
  border: none;
  background-color: #b28e6a;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.baner-header .food-experinse .hero .hero-Heading .hero-Detalis .arrowVector {
  width: 11rem;
  margin-left: 3rem;
}
@media (max-width: 1200px) {
  .baner-header .food-experinse .hero .hero-Heading {
    font-size: 1rem;
    padding-left: 3rem;
    text-align: center;
    height: 38rem;
    width: 100%;
  }
  .baner-header .food-experinse .hero .hero-Heading .hero-content {
    text-align: center;
    /* لتوسيط النص أيضًا */
  }
  .baner-header .food-experinse .hero .hero-Heading .arrowVector {
    display: none;
  }
}
.baner-header .food-experinse .hero .hero-baner {
  background: linear-gradient(to right, #534930 50%, transparent 50%);
}
.baner-header .food-experinse .hero .hero-baner img {
  width: 28rem;
  height: 28rem;
  animation: rotateDish 60s linear infinite;
}
@keyframes rotateDish {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .baner-header .food-experinse .hero .hero-baner {
    transition: 1s ease-in-out all;
    background: transparent;
    position: absolute;
    top: 100%;
    /* يتحرك الطبق نحو الأسفل */
    left: 50%;
    transform: translate(-50%, -50%);
    /* لجعل الطبق في المنتصف تمامًا */
  }
  .baner-header .food-experinse .hero .hero-baner img {
    width: 20rem;
    height: 20rem;
    animation: rotateDish 60s linear infinite;
  }
  .baner-header .food-experinse .hero .hero-baner .hero-content {
    text-align: center;
    /* لتوسيط النص أيضًا */
  }
}
.baner-header .sochila {
  margin-top: 5rem;
  padding-left: 2rem;
}
.baner-header .sochila img {
  display: block;
  margin-bottom: 4rem;
}
@media (max-width: 992px) {
  .baner-header .sochila {
    display: none;
  }
}
.baner-header .dot-vector-one {
  position: absolute;
  top: 5rem;
  left: 6rem;
}
.baner-header .dot-vector-two {
  position: absolute;
  bottom: 4rem;
  left: 10rem;
}
.baner-header .dot-vector-three {
  position: absolute;
  bottom: 8rem;
  left: 32rem;
}
.baner-header .dot-vector-four {
  position: absolute;
  bottom: 24rem;
  left: 32rem;
}
@media (max-width: 992px) {
  .baner-header .dot-vector-one,
  .baner-header .dot-vector-two,
  .baner-header .dot-vector-three,
  .baner-header .dot-vector-four {
    display: none;
  }
}

.Features-Section {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #f7f7f7;
  border-radius: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  margin-top: 7rem;
}
.Features-Section .Feature {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.Features-Section .Feature .icon img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.Features-Section .Feature .content h3 {
  margin-block: 0.5rem;
}
.Features-Section .Feature .content span {
  width: min(100%, 1rem);
}
.Features-Section .Feature .line {
  border-right: 2px solid #b28e6a;
  height: 4rem;
}
.Features-Section .WatermarkFood {
  position: absolute;
  bottom: 50%;
  /* اضبط حسب المكان اللي تريده */
  left: 50%;
  /* اضبط حسب المكان اللي تريده */
  transform: translate(-50%, 50%);
  /* لتوسيط العلامة المائية بدقة */
  opacity: 0.2;
  /* تخفيف العلامة المائية */
  z-index: -1;
  /* خلف المحتوى */
  width: -moz-fit-content;
  width: fit-content;
}
.Features-Section .WatermarkFood img {
  width: 6rem;
  height: 6rem;
}

.baners-Section {
  position: relative;
  margin-top: 10rem;
}
.baners-Section .FirstBaner,
.baners-Section .secondBaner {
  padding: 0;
}
.baners-Section .FirstBaner .baner-content,
.baners-Section .secondBaner .baner-content {
  padding: 4.2rem;
  background-color: #f7f7f7;
}
.baners-Section .FirstBaner .baner-info,
.baners-Section .secondBaner .baner-info {
  font-weight: bold;
}
.baners-Section .WatermarkFood {
  position: absolute;
  top: -9rem;
  left: 40%;
  width: -moz-fit-content;
  width: fit-content;
}
.baners-Section .WatermarkFood img {
  width: 8rem;
  height: 8rem;
}

.about .about-section {
  padding-block: 64px;
}
.about .section-title h4 {
  font-family: "Syne", sans-serif;
  color: #000;
  font-weight: 600;
  line-height: 41.4px;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 33px;
}
@media (max-width: 991.98px) {
  .about .section-title h4 {
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 1199.98px) {
  .about .section-title h4 {
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 25px 0;
  }
}
.about .section-title p.underline {
  border: 0;
  border-bottom: 2px dashed #b28e6a; /* Thicker dashed line */
  margin: 20px auto;
  height: 0px;
}
.about .section-title p.about-text {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0 0 0;
}
.about .section-content {
  margin-top: 150px;
}
.about .section-content p.text {
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 30px 0;
}
.about .section-content h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #b28e6a;
  margin: 0 0 10px 0;
}
.about .section-content h3 {
  font-family: "Syne", sans-serif;
  font-size: 39px;
  font-weight: 600;
  line-height: 55.8px;
  margin: 0 0 30px 0;
}
.about .section-content h3 span {
  color: #b28e6a;
}
.about .section-content ul a {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #534930;
}
.about .section-content ul a .arrow-icon {
  padding: 5px;
  font-size: 10px;
  border: 0.5px solid grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.contact {
  padding-bottom: 8.4rem;
  overflow: hidden;
}
.contact .header-page {
  padding: 9.6rem 0;
  margin-bottom: 6.4rem;
  background-color: #faf4ed;
}
.contact .contact-info {
  padding-block: 4.2rem;
  background-color: #fff;
  transform: translateY(-6rem);
  border-radius: 0.6rem;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 62em) {
  .contact .contact-info {
    margin-inline: 3.6rem;
  }
}
.contact .contact-info__item {
  padding-inline: 4.6rem;
  margin-bottom: 2.6rem;
}
.contact .contact-info__item:not(:last-child) {
  border-right: 2px solid #535353;
}
@media screen and (max-width: 62em) {
  .contact .contact-info__item:nth-child(2) {
    border: none;
  }
}
@media screen and (max-width: 49em) {
  .contact .contact-info__item:nth-child(1) {
    border: none;
  }
  .contact .contact-info__item:not(:last-child) {
    border-bottom: 2px solid #535353;
  }
}
.contact .contact-info__icon {
  width: 2.4rem;
  font-size: 2rem;
  background-color: #534930;
  color: #fff;
  padding: 1.2rem;
  margin-bottom: 3rem;
  border-radius: 50%;
}
.contact .contact-info__title {
  font-size: 2.4rem;
}
@media screen and (max-width: 49em) {
  .contact .contact-info__title {
    font-size: 2rem;
  }
}
.contact .contact-info__text {
  font-size: 1.8rem;
  color: #535353;
  line-height: 1.6;
}
@media screen and (max-width: 49em) {
  .contact .contact-info__text {
    font-size: 1.4rem;
  }
}

.service-section {
  padding-block: 6.4rem;
}/*# sourceMappingURL=main.css.map */